@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00060e;
}

.btns-container{
    width: 700px;
    height: 150px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    position: relative;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Tilt Neon", sans-serif;
    text-transform: uppercase;
    color: #222;
    transition: .1s;
    cursor: pointer;
    border-radius: 7px;
}

.btn-1, .btn-2, .btn-3{
    background-color: transparent;
}

.btn-1{
    border: 4px solid crimson;
    color: crimson;
    text-shadow: 0 0 20px crimson;
    box-shadow: 0 0 20px;
}

.btn-2{
    border: 4px solid #FF9800;
    color: #FF9800;
    text-shadow: 0 0 20px #FF9800;
    box-shadow: 0 0 20px;
}

.btn-3{
    border: 4px solid #2196F3;
    color: #2196F3;
    text-shadow: 0 0 20px #2196F3;
    box-shadow: 0 0 20px;
}


.btn-1:hover, .btn-2:hover, .btn-3:hover{
    color: #222;
}

.btn-1:hover{
    box-shadow: 0 0 110px crimson;
    background-color: crimson;
}

.btn-2:hover{
    box-shadow: 0 0 110px #FF9800;
    background-color: #FF9800;
}

.btn-3:hover{
    box-shadow: 0 0 110px #2196F3;
    background-color: #2196F3;
}



